.imagen-duoc {
    max-width: 100%;
}

.centered-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.color-text {
    color: cornflowerblue;

}

.imagen-logo {
    max-width: 100%;
}

.color-menu {
    color: aqua;
}

.entrada {
    justify-content: center;
    align-items: center;
    width: 205%;
}

.fondo {
    background-color: antiquewhite;
    color: antiquewhite;
}

ion-content {
    --background: #00a8db;
}

.foto {
    max-width: 150%;

}

.logo1 {
    max-width: 60%;
}

ion-content {
    --background: linear-gradient(rgb(177, 167, 186), rgb(161, 228, 255));
}